<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/output.css" />
    <style>
      html,
      body {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="w-full h-full bg-black p-10 text-white">
        <a href="/" class="mb-3 text-blue-500">back to Home</a>
      <h1 class="text-4xl tracking-tighter  text-center mb-4">All Users</h1>
      <div class="users flex gap-3 flex-wrap justify-around content-center ">
        <% users.forEach(user => { %>
          <div class="user max-w-72 p-4 rounded-lg bg-zinc-800">
            <div class="w-full p-2 overflow-hidden">
              <img src="<%= user.image %>"" alt="User Image" class="w-full h-40 object-cover rounded-lg">
            </div>
            <h3 class="text-xl mt-1 text-center tracking-tighter"><%= user.username %></h3>
            <h3 class="text-sm text-center text-slate-400 mb-2 tracking-tight"><%= user.email %></h3>
            <div class="flex justify-evenly gap-2">
              <a href="/edit/<%= user._id %>" class="text-sm text-blue-400 tracking-tight">Edit User</a>
              <a href="/delete/<%= user._id %>" class="text-sm text-red-500 tracking-tight">Delete User</a>
            </div>
          </div>
        <% }) %>
      </div>
      
     
     
        
      </div>
    </div>
  </body>
</html>
